@import 'mixin.scss';

// Colors
$black: #000;
$cream: #fff7e6;
$cream2: #ede6d6;
$green: #8ccc4e;
$grey: #c1c1c1;
$grey2: #929292;
$grey3: #57544e;
$orange: #ffbb36;
$orange2: #d99f2e;
$white: #fff;
$yellow: #fbd41e;

h1,
h2 {
  margin: 0;
}

body {
  background-color: $cream;
  font-family: 'Gotham-Book', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.indejuice {
  &__header {
    background-color: $orange;
    border-top: 4px solid $yellow;
    height: 70px;
    margin-bottom: 78px;
    position: relative;

    &-text {
      position: absolute;
      top: 28%;
      color: $white;      
    }

    &-text-left {
      left: 40px;
      text-shadow: 3px 3px $orange2;
    }

    &-text-right {
      right: 40px;
      font-family: 'Gotham-Thin', Arial, sans-serif;
      text-shadow: 2px 2px $orange2;

      @include medium {
        display: none;
      }
    }

    &-logo {
      position: absolute;
      left: 0;
      bottom: -42px;
      right: 0;
      height: 90px;
      margin: auto;
      width: 90px;
      z-index: 2;
    }
  }

  &__separator {
    border: 0;
    color: $black;
    line-height: 1em;
    position: relative;
    text-align: center;
    width: 70%;
    margin-bottom: 24px;

    &::before {
      background-color: $grey;
      content: '';
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
    }

    &::after {
      background-color: $cream;
      color: $grey3;
      content: attr(data-content);
      display: inline-block;
      line-height: 1.5em;
      padding: 0 1em;
      position: relative;
      font-family: 'Gotham-Book';
      font-size: 19px;
    }
  }

  &__elements {
    margin: 0 auto;
    width: 80%;

    &-item {
      display: flex;
      flex-direction: row;
      position: relative;
      margin-bottom: 30px;
      padding: 40px;
      background-color: $white;
      box-shadow: 8px 8px $cream2;
      border-radius: 5px;

      @include medium {
        display: block;
        padding: 60px 20px;
      }
    }

    &-image-wrapper {
      width: 210px;
      display: inline-block;
    }

    &-image {
      height: 100%;
      max-height: 160px;
    }

    &-text {
      flex: 0 0 50%;
    }

    &-price {
      position: absolute;
      right: -4px;
      top: 25px;
      background-image: url('../img/flag.png');
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 145px;
      padding: 10px 20px 10px 0;
      text-align: right;
      color: $white;
      font-family: 'Gotham-Book';
      text-shadow: 2px 2px $grey2;
      font-size: 18px;

      &-each {
        font-family: 'Gotham-XLight';
      }
    }

    &-origin {
      color: $grey2;
      font-family: 'Gotham-XLight';
    }

    &-description {
      padding-left: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: $grey3;
      line-height: 1.75;
    }
  }
}
